<style type="text/css">

	header{
		position: absolute;
	}
	
	#top-navigation{
		position: absolute;
		width: 94%;
		top:0;
		left:0;
		padding: 1em 3%;
	    font-family: 'Roboto Condensed', sans-serif;
	}

	#top-navigation ul{
		float:right;
		margin:1.2em 0 0;
		list-style-type: none;

	}

	#top-navigation li{
		display: inline-block;
		margin-right:1em;
	}

	#top-navigation a{
		margin-right:0.1em;
		text-decoration: none;
		color:black;
	}

	#top-navigation a:hover{
		color: orange;
	}


</style>