<!DOCTYPE html>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<title>Home | Sweet Home</title>
<meta charset="UTF-8">

<style type="text/css">
  .fb-login{
      background: #3853a4;
      color:white;
      font-size: 1em;
      padding:0.8em;
      border-radius: 0.4em;
      border:none;
      font-family: 'Roboto Condensed', sans-serif;
      cursor: pointer;
  }

  .fb-login i{
    font-size: 1.5em;
    padding-right: 0.3em;
    vertical-align: middle;
  }

  .center-text{
    text-align: center;
  }

  .main-content{
    margin-top: 25%;
  }

  body{
    background:url('http://i.telegraph.co.uk/multimedia/archive/02220/beatles-abbey-road_2220576b.jpg');
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;

  }

</style>
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  var fbData = {};

  function login() {
     FB.login(function(response) {
        if (response.status === 'connected') {
        // Logged into your app and Facebook.


        FB.api('/me?fields=email,first_name,last_name',function(response){
          fbData["email"] = response.email;
          fbData["first_name"] = response.first_name;
          fbData["last_name"] = response.last_name;
          fbData["csrfmiddlewaretoken"] = '{{csrf_token}}'
        });

        FB.api('/me/friends', function(response){
          total_count = response.summary.total_count;        
          FB.api('/me/taggable_friends?limit='+total_count, function(response){
            console.log(response);
            fbData["friend_list"] = response.data.map(function(a){ return a.name; });

            $.post("{% url "tag:signup" %}", fbData, function(response){
         
                window.location.href=response.url;

            });
            
          });
        });
      } 
     }, {scope: 'public_profile,email,user_friends'});
  }
  
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1728957830668724',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <button class="fb_login" onclick="checkLoginState();">Login with Facebook</button>  -->

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->

<div class="main-content center-text">


  <button class="fb-login"><i class="fa fa-facebook"></i>Login with Facebook</button> 

</div>


<div id="status">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">

$(".fb-login").click(function(){
   // checkLoginState();
   login();
})

</script>
</body>
</html>