<html>
<head>
	<title>
		Oops...
	</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}nav.css">

	<style type="text/css">

	.center-text{
	    text-align: center;
	}

	.medium-font-size{
		font-size: 2em;
	}

	.large-font-size{
		font-size: 5em;
	}

	.roboto{	    
	    font-family: 'Roboto Condensed', sans-serif;
	}

	.main-content{
	    margin-top: 10%;
	}

	</style>
</head>
<body>
	
	<div class="center-text roboto medium-font-size main-content">
		Oops..Page does not exist, something went wrong.<br/>
		<div class="large-font-size">
			<i class="fa fa-frown-o"></i>
		</div>
		Go <a href="/tag">home</a>.
	</div>

</body>

</html>