<!DOCTYPE html>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<title>Home | Sweet Home</title>
<meta charset="UTF-8">

<style type="text/css">
  .fb-login{
      background: #3853a4;
      color:white;
      font-size: 1em;
      padding:0.8em;
      border-radius: 0.4em;
      border:none;
      font-family: 'Roboto Condensed', sans-serif;
      cursor: pointer;
  }

  .fb-login i{
    font-size: 1.5em;
    padding-right: 0.3em;
    vertical-align: middle;
  }

  .center-text{
    text-align: center;
  }

  .main-content{
    margin-top: 25%;
  }

  body{
    background:url('http://i.telegraph.co.uk/multimedia/archive/02220/beatles-abbey-road_2220576b.jpg');
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;

  }

</style>
</head>
<body>
{% include "logout.html" %}

<div class="main-content center-text">

  <button class="fb-login"><i class="fa fa-facebook"></i>Login with Facebook</button> 

</div>


<div id="status">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">

$(".fb-login").click(function(){
   // checkLoginState();
   login();
})

</script>
</body>
</html>