{% if user.is_authenticated %}
<header>
	<nav id="top-navigation">
		<ul>
			<li> Hi {{ user.first_name }}  <i class="fa fa-angle-double-right"></i></li>
			<li><a href="{% url "tag:posts" %}">Post</a></li>
			<li><a href="{% url "tag:show-post" %}">Show mentioned posts</a></li>
			<li><a href="{% url "tag:my-posts" %}">Show my posts</a></li>
			<li><a href="#" onclick="logout()">Logout</a></li>
		</ul>
	</nav>
</header>

{% endif %}