<html>
{% load staticfiles %}
<head>
	<title>
		Posts
	</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}nav.css">
	<link rel="stylesheet" href="{{STATIC_URL}}jquery.textcomplete.css">
	{% include "logout.html" %}
  	<style type="text/css">
  	
	  .center-text{
	    text-align: center;
	  }

	  .main-content{
	    margin-top: 10%;
	  }

	  .roboto{	    
	    font-family: 'Roboto Condensed', sans-serif;
	  }

	  .block-element{
	  	display: block;
	  	margin: 2em 0;
	  }

	  body{
	  	background-color: #C2185B;
	  }

	  .styled-btn{
	      background: black;
	      color:white;
	      font-size: 1em;
	      padding:0.8em;
	      border-radius: 0.4em;
	      border:none;
	      font-family: 'Roboto Condensed', sans-serif;
	      cursor: pointer;
	      vertical-align: middle;
	  }

	  .results{
	  	color:white;
	  }

  	</style>

  	
</head>

<body>
	{% include 'navbar.html' %}

	<div class="main-content roboto">
		<span class="block-element"> Post anything that you want, use @ to auto-suggest from your friend list... </span>
		<textarea class="mention" rows="10" cols="50"></textarea>
		<input type="submit" value="Submit" class="styled-btn block-element submit-form"></input>
		<!-- <input id="tag"> -->
		<span class="block-element results"></span>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}jquery.overlay.js"></script>
	<script src="{{STATIC_URL}}auto-complete.js"></script>

	<script type="text/javascript">
		var mentions = [];
		$('.mention').textcomplete([
	    { // html 
	        mentions: {{friends|safe}} ,
	        match: /\B@(\w*)$/,
	        search: function (term, callback) {
	            callback($.map(this.mentions, function (mention) {
	                return mention.indexOf(term) === 0 ? mention : null;
	            }));
	        },
	        index: 1,
	        replace: function (mention) {
	        	mentions.push(mention);
	            return '@'+mention+' ';
	        }
	    }
		]);

		$('.mention').click(function(){
			$(".results").empty();
		})

		$(".submit-form").click(function(){

			$(".results").empty();
			var post = $(".mention").val();
			var friendsMentioned = $.unique(mentions);

			for(var i=0;i<friendsMentioned.length;i++){
				if (! (post.indexOf(friendsMentioned[i]) > -1) )
				{
					friendsMentioned = jQuery.grep(friendsMentioned, function(value) {
					  return value != friendsMentioned[i];
					});
				}

			}
			
			postData = {
				'post':post,
				'mentions':friendsMentioned,
				'csrfmiddlewaretoken':'{{csrf_token}}'
			}
			$.post("{% url "tag:create-post" %}",postData,function(response){

				if (response.added){
					$(".results").append("Your post has been successfully made..");
					$(".mention").val("");
				}
				else{
					$(".results").append("Sorry..your post couldn't be submitted...");
				}

				mentions = [];

			});
		});
		
	</script>


	

</body>
</html>