<html>
{% load staticfiles %}
<head>
	<title>
		Mentioned posts
	</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}nav.css">
	{% include "logout.html" %}
  	<style type="text/css">
  	
	  .center-text{
	    text-align: center;
	  }

	  .main-content{
	    margin-top: 5%;
	  }

	  .roboto{	    
	    font-family: 'Roboto Condensed', sans-serif;
	  }

	  .block-element{
	  	display: block;
	  	margin: 2em 0;
	  }

	  body{
	  	background-color: #C2185B;
	  }

	  .post-headline{
	  	font-size: 2em;
	  	text-align: center;
	  }

	  hr{
	  	width: 20%;
	    background: black;
	    border: none;
	    outline: none;
	    height: 0.1em;
	  }

  	</style>
  	
</head>

<body>

	{% include 'navbar.html' %}

	<div class="main-content roboto">
	
		<div class="post-headline">
			<hr>
			<span> {{ title }}</span>
			<hr>
		</div>

		{% if mentions %}
			{% for mention in mentions reversed %}
			<textarea disabled class="block-element" rows="7" cols="50">{{ mention.post }}</textarea>
			{% endfor %}
		{% else %}
			<span class="center-text">
				Sorry, you do not have any posts <i class="fa fa-frown-o"></i>
			</span>
		{% endif %}
	</div>

</body>
</html>